      body {
        font-family: system-ui, sans-serif;
        max-width: 960px;
        margin: 0 auto;
        padding: 20px;
        background-color: #eef0ee;
      }
      canvas {
        display: block;
        margin: 10px 0;
        padding: 20px;
        background-color: #fff;
      }
      a {
        text-decoration: none;
      }
      pre {
        background: #fff;
        padding: 12px;
        overflow-x: auto;
        border-radius: 15px;
      }

      .highlight {
        background-color: #8f8;
      }

      code {
        font-family: ui-monospace, SFMono-Regular, monospace;
        font-weight: lighter;
        color: #222;
      }

      .container {
        display: flex;
        justify-content: center;
        align-items: center;
      }